*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Parent Box */
#myreddiv{
    height: 300px;
    width: 300px;
    background-color: red;
    position: absolute;
    left: 0px;
    top: 0px;
    

}
/* Child Box */
#mybluediv{
    height: 100px;
    width: 100px;
    background-color: blue;
    border: 5px solid black;
    box-shadow: 5px 5px 5px green;
    position: relative;
    top: 100px;         
    left: 100px;
}

/* Boxes below here are independent and positioned relative to the screen not the above. */

#myorangediv{
    height: 100px;
    width: 100px;
    background-color: orange;
    border: 5px solid black;
    position: absolute;
    top: 75px;         
    left: 75px;
}

#mygreendiv{
    height: 100px;
    width: 100px;
    background-color: green;
    border: 5px solid black;
    position: absolute;
    top: 50px;         
    left: 50px;
}

