#para {
  background-color: antiquewhite;
  color: black;
  font-size: 16pt;
  height: fit-content;
  width: fit-content;
  border: 7px black groove;
  /* box-shadow: 5px 5px 5px #af2222; */
  padding: 5px;
  margin: 15px;
}

#para1 {
  background-image: url(/Images/box.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 50px 75px;
  color: rgb(34, 146, 90);
  font-size: 20px;
  height: fit-content;
  width: 50%;
  border: 10px dotted black;
  box-shadow: 5px 5px 5px #6b0b7079;
  padding: 0.5%;
  margin: 1%;
}

#para2 {
  background: linear-gradient(to bottom, #e100ff, #0000ff);
  font-size: 20px;
  color: antiquewhite;
  height: fit-content;
  width: 25%;
  border-top: 5px solid black;
  border-bottom: #16c32d 5px solid;
  border-left: 5px solid red;
  border-right: 5px solid rgb(92, 12, 146);
  box-shadow: 10px 10px 15px #000000;
  padding: 5px;
  margin: 15px;
}
