:root {
  --orange: #ff7f00;
  --light-blue: #add8e6;
  --dark-blue: #00008b;
  --blue: #0000ff;
  --light-green: #90ee90;
  --dark-green: #006400;
  --light-red: #ff6347;
  --dark-red: #8b0000;
  --light-purple: #9370db;
  --dark-purple: #4b0082;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--dark-red); 
  color: var(--light-blue)/* For browsers that do not support gradients */
}

header {
  background-color: var(--light-blue); 
  color: var(--blue); 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: inline-block;
}

.navBar {
  width: 100vw;
  padding: 10px;
  z-index: 1;
}

.navBar ul {
  overflow: auto;
}

.navBar ul li {
  float: left;
  position: relative;
  left: 30%;
  list-style: none;
  margin: 0px 10px;
  text-shadow: 5px 5px 5px var(--light-red)
}

.navBar ul li a {
  text-decoration: none;
}

.navBar ul li a:hover {
  color: red;
  text-shadow: 5px 5px 5px var(--blue);
}

.search {
  float: right;
  border-radius: 10px;
  margin: 0px 10px;
  color: rgb(0, 0, 0);
}

.logo {
  float: left;
  padding-bottom: 10px;
  margin: 0px;
  color: rgb(0, 0, 0);
}

#flex-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 7.5%;
  flex-wrap: wrap;
}

.flex-items {
  flex-basis: 20%;
  height: 300px;
  background-color: azure;
  margin-bottom: 5%;
  padding: 1.5%;
  box-shadow: 10px 10px 10px black;
}

.flex-items h3 {
  color: darkblue;
  text-align: center;
  text-shadow: 5px 5px 2px blueviolet
}

.flex-items p {
  text-align: center;
  text-shadow: 5px 5px 2px rgb(38, 0, 255);
}

.flex-pic img {
  width: 60%;
  margin-left: 20%;
  margin-bottom: 2%;
  box-shadow: 10px 10px 10px black;
  z-index: 4;
}

/* Media Queries */

/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .flex-items {
    flex-basis: 40%;
    background-color: pink;
    height: 400px;
  }
  #flex-container {
    padding-top: 10%;
  }
  .navBar ul li {
    left: 10%;
  }
}

/* Extra Small Devices, Phones */
@media (max-width: 767px) {
  .flex-items {
    flex-basis: 80%;
    background-color: orange;
    height: 500px;
  }
  #flex-container {
    padding-top: 10%;
  }
  .navBar ul li {
    left: 5%;
  }
}

/* Large Devices, Wide Screens */
@media (min-width: 1200px) {
  .flex-items {
    flex-basis: 20%;
    background-color: green;
  }
  #flex-container {
    padding-top: 5%;
  }
}
