p,h1,span{
    color: blueviolet;
    background-color: blanchedalmond;
}

#test{
    color: blue;
    background-color: red;
}

.bordergreen{
    color: green;
    
}

.borderblack{
    
    background-color: black;
}


