/* id = #
    class = .
 */

p,h1,span{
    color: blueviolet;
    background-color: blanchedalmond;
}

#test{
    color: blue;
    background-color: red;
}

.txtgreen{
    color: green;
    
}

.bgblack{
    
    background-color: black;
}

.border{
    border: 2px solid black;
    box-shadow: 10px 10px 5px #888888;
}

.shadow{
    box-shadow: 10px 10px 5px #a91e1e;
}

