p{
    color: white;
    background-color: blue;
    font-family: verdana; ;
}

h1{
    color: greenyellow;
    background-color: blueviolet;
    font-family: cursive;
}

span{
    color: purple;
    background-color: yellow;
    font-family: fantasy;
}



